@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="register" asp-controller="login" method="post" >
    <input type="submit" value="submit" />
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Started Learning</h1>


    @await Component.InvokeAsync("TopProducts", new { Count = 3})

    <div id="someDiv">

    </div>
</div>



@section Scripts {

    <script>

            
        $(document).ready(function () {
            
            var rawdata = { 'ProductId': '10' };
            $.ajax({
                type: "GET",
                url: "/Home/Details/",
                data: rawdata,
                success: function (viewHTML) {
                    $("#someDiv").html(viewHTML);
                },
                error: function (errorData) {
                    onError(errorData);
                }
            });
        });
        function onError(errorData) {
            alert("An error occurred: " + errorData.responseText);
        }

    </script>


}